<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- MAIN site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fa-solid fa-angles-left"></i> Todos Clientes</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Novo Cliente</h2>
                <span class="text-light">Preencha os campos abaixo para criar um novo cliente</span>
            </div>

            <!-- formuladio cliente -->

            <%- include('include/_form') %>
        </div>
    </main>

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->